numpy==1.22.4
pandas==2.1.0
scipy
matplotlib
streamlit
pandas-profiling
openpyxl
xlrd
geemap
geopandas
keplergl
leafmap
owslib
palettable
plotly
joblib
scikit-learn
plotly-express
openai
streamlit-chat
requests
streamlit-elements
reportlab
Pillow
lxml
beautifulsoup4
PyPDF2

